.App {
  background-color: #282c34;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1rem 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.delete {
  float: right;
}

.card {
  border: none;
  border-radius: 0;
  background: none;
  color: white;
}
.card-body {
  border-bottom: 10px solid #61DBFB;
}

p {
  color: white;
}